<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <input type="text" name="" value="" [(ngModel)]='someText'>
    <br>
    <h1>{{someText}}</h1>
    <agm-map [latitude]="this.lat" [longitude]="this.lng"style="height:600px;">
      <agm-marker [latitude]="this.lat" [longitude]="this.lng"></agm-marker>
    </agm-map>
    <hr>
    <ul class="list-group">
      <ng-container *ngFor="let place of places" [ngSwitch]="place.distanceRange" >
        <li click-counter [ngStyle]="{color: (place.show) ? 'black' : 'red'}" class="list-group-item remove-list-dots" [testremark]="place.premiun">
          {{place.name}} -
          <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Cerca</span>
          <span *ngSwitchCase="2" [ngStyle]="{color:'orange'}">Distancia media</span>
          <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejos</span>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
